--upgrade pip
pdfminer3
pyresparser
streamlit
pandas
pafy
plotly
pymysql
streamlit_tags
Pillow
youtube-dl
nltk
pdfminer3
spacy
bokeh
streamlit_option_menu
wheel
pypdf2
en_core_web_lg
en_core_web_sm
matplotlib
